body{
    padding: 100px;
}
.submit-area{
    margin-top: 50px;
    padding: 50px;
    border-radius: 10px;
    box-shadow: 5px 5px 15px gray;
}
#transaction-area{
    display: none;
}
.status{
    margin: 0 20px;
    color: cornsilk;
    padding: 30px;
    border-radius: 15px;
}
.deposit{
    background-color: indigo;
}
.withdraw{
    background-color: purple;
}
.balance{
    background-color: blueviolet;
}
